@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

.bgColor {
  background-color: var(--primColor) !important;
}

.cardHeader {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 1000;
}

.mainCard {
  border-top-color: white;
  border-radius: 0px;
  background-color: rgb(20, 17, 49) !important;

  padding-top: 1%;
}

.myFont {
  font-family: "Josefin Sans", sans-serif;
}

/* FROM POSTBOX.MODULE.CSS */

.likeFont {
  font-family: "Josefin Sans", sans-serif;
}

.heartStyle {
  text-decoration: none;
  transform: scale(1);
  transition: ease-in 0.1s;
}

.heartStyle:hover {
  transform: scale(1.3);
  transition: ease-in 0.1s;
  cursor: pointer;
}

.dateStyles {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.315);
}


.emailText:hover {
  cursor: pointer;
  color: var(--secoColor);
  text-decoration: underline;

  transform: scale(1.5);
  transition: ease-out 0.1s;
}

.backButton {
  color: white;
  text-decoration: white;
}

.backButton:hover {
  cursor: pointer;
  color: var(--secoColor);

  transform: scale(1.5);
  transition: ease-out 0.1s;
}