.bg {
  background-color: var(--primColor) !important;
}

.img {
  transform: scale(0.7);
  transition: transform 0.4s;
}

.img:hover {
  content: url("../../styles/images/wavy-logo-small-white.png");
  transform: scale(1);
  transition: transform 0.4s;
}

