body {
    background-color: rgb(24, 19, 68);
    height: 100%;
}

.textAreaStyles {
    color: white;
    background-color: inherit;
    border-color:  white;
    border-radius: 20px;
    resize: none;
}

.textAreaStyles:focus {
    color: white;
    background-color: inherit;
    
    box-shadow: none;
    border-color: white;
}

.cardStyles {
    background-color: inherit;
    border-radius: 20px;
}
