:root {
  --primColor: #dcdcdc;
  --secoColor: #555555;
  --bgColor: #272f42;
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
  --cornerRad: 4px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--bgColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
